@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*---CSS Style Body ---*/ 
body{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  padding:0;
  color: rgb(83, 80, 80);
  background-color: rgb(234, 242, 245);
  font-size: 16px;
  text-align: center;
}

p
{
  color: rgb(153, 146, 146);
  padding: 5px;
}

/*---header h1---*/

header
{
  padding:10px;
}
.navbar{
margin: 10px;
font-size: 30px;
text-decoration: none;
}
nav ul {
float : right;
}
nav ul li {
display: inline-block;
list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: rgb(83, 80, 80);
  padding: 35px 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 100px;
}
.profileName{
  float: left;
  line-height: 100px;
}
.meImage
{
  width: 200px;
  height: 250px;
  
}

/* Group & Item - Mobile First*/
.wrapper{
  width: 100%;
}
.group{
  display: flex;
  flex-direction: column;
}
.item{
  flex: 1;
  margin: 10px;    
}
.item-double{
  flex:2;
  margin: 10px;
}
/*Group & Item-Desktop*/

@media all and(min-width=800px){
  .wrapper{
    width:80%;
    margin: auto;
  }
  .group{
    flex-direction: row;
  }
}

/*---Introduction---*/

.intro
{
  font-size: 20px;
}

/*Portfolio*/

.flex-container{
  margin-top:80px;
  float: left;
  clear: both;
}

section .flex-container .flex-items{
  width: 20%;
  display: inline-block;
  margin: 46px;
  text-align: center;
}

section .flex-container .flex-items h4{
  font-size: 18px;
  margin: 20px 0px;
  letter spacing: 0.5px;
}

section .flex-container .flex-items p{
  color: #727272;
}

section .flex-container .flex-items .text-blue{
  color: blue;
  font-size: 40px;
}


/*---About Me---*/

section
{
  font-size: 20px;
  margin-top: 30px;
}

section ul li{
  list-style: none;
  padding-bottom: 20px;
}

/*---Contact---*/

.contact h3{
  font-size: 22px;
   padding: 5px;
}
.contact ol li{
  list-style : none;
}
.contact ol li a{
  text-decoration: none;
}

/*---Footer---*/

footer{
  text-align: center;
  font-size: 12px;
}

/*---Contact Links---*/

.contact ol a{
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*--- Horizontal Line---*/

hr{
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact ol li{
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contact a:link{color: rgb(97, 96, 96);}
.contact a:visited{color: darkblue;}
.contact a:hover{color: grey;}
.contact a:active{color:black}