@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*---CSS Core Style  ---*/ 
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:0;
  line-height: 1.5;
  color: rgb(83, 80, 80);
  background-color: rgb(234, 242, 245);
  height: auto;
  text-align: center;
}
img{
  display:block;
  width: 60%;
  height: auto;
}
h1, h2, h3{
  padding: 10px 0;
  margin:0
}
p{
  margin: 0;
  padding: 10px 0;
}
section{
  padding: 0 10px;
}

/*---Header h1 & Navigation---*/

header {
color: #f3f3f3;
background-color: rgb(196, 190, 190);
margin:0;
padding:0;
}

header h1{
  text-align: center;
  color: rgb(83, 80, 80);
  font-weight: 400;
}

header nav ul{
display: flex;
justify-content: center;
list-style-type: none;

}

header nav ul li a{
  text-decoration: none;
  color: rgb(83, 80, 80);
  transition: all 0.5s;
  margin-right: 20px;
}
header a:hover{
  color:rgb(43, 40, 40);
  font-weight: bold;
}

@media all and(min-width: 800px){
  header{
    display:flex;
    justify-content: space-between;
    }
  h1{
    font-size: 30px;
    margin:20px;
  }
  }

/*--Introduction--*/

 
.profilePic {
width: 40%;
height:auto;
float: center;
}
li{
  list-style: none;
}
section{
  padding-bottom: 10px;
}

/*---About Me---*/
li{
  font-size: 20px;
  list-style-type: none;
  text-align: left;
  
}

.aboutMe h2{
  font-size: 25px;
  text-align: center;
}
.group .codingImage{
  width: 100%;
  height: auto;
  margin-top: 20px;
}


/*Portfolio*/


section h2{
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}
section p{
  font-size: 1.5rem;
  text-align: center;
  
}
.flex-container:hover{
  box-shadow: -1px 3px 10px 0;
}
.flex-container{
  margin: 30px;
  width: 300px;
  background-color: rgb(234, 242, 245);
  text-align: center;
  
}
.flex-container h4{
font-size: 1.5rem;
color: rgb(167, 161, 161)
}

/*Background color change to section*/

section.portfolio{
  background-color: rgb(190, 208, 214);
}

/*Groups & Items-Mobile First*/
.group{
  display: flex;
  flex-direction: row;
  margin:0px auto;
  width: 60%;
}
.item{
  flex:1;
}


@media screen and(min-width:768px){
  .group {
    flex-direction:column;
    width: 100%;
    margin: 0px auto;
    }
    .flex-container{
      height: 200px;
      margin:10px;
    }
    contact ol{
      margin: 0px auto;
    }
  }
  
    
/*---Contact---*/
.contact {
  justify-content: center;
}
.contact h3{
  font-size: 2.5rem;
  padding: 5px;
  text-align: center;
}

.contact ol li a{
  text-decoration: none;
}
/*---Contact Links---*/

.contact ol a{
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.contact ol li{
  list-style : none;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.contact a:link{color: rgb(97, 96, 96);}
.contact a:visited{color: darkblue;}
.contact a:hover{color: grey;}
.contact a:active{color:black}

/*--- Horizontal Line---*/

hr{
  margin: 10px;
}

/*---Footer---*/

footer{
  text-align: center;
  min-height: 70px;
  font-size: 12px;
}
